$font-size: 50px;
$dark-ovrlay: rgba(0, 0, 0, 0.7);
.navbar {
    background-color: #000;
    .nav-item {
        padding-left: 1em;
        .nav-link {
            text-transform: uppercase;
        }
    }
}
.carousel-item {
    height: 530px;
}
.carousel-img-1 {
    background: url("../img/image.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.9;
}
.carousel-img-2 {
    background: url("../img/image2.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.9;
}
.carousel-img-3 {
    background: url("../img/image3.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.9;
}
.carousel-img-4 {
    background: url("../img/image10.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.9;
}
#get-started {
    position: relative;
    background: url("../img/image7.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    .dark-overlay {
        background: $dark-ovrlay;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
#home-video {
    position: relative;
    background: url("../img/image6.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    .dark-overlay {
        background: $dark-ovrlay;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
#copyright {
    background: #000;
}
#about-header,
#service-header,
#blog-header,
#Contact-header {
    background: url("../img/image11.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}
#testimonial {
    .slick-prev::before,
    .slick-next::before {
        color: #000;
        margin-left: -20px;
    }
}
#contact-us {
    .card {
        min-height: 470px;
    }
}
@media (max-width: 767px) {
    .nav-item {
        padding-left: 0 !important;
    }
    #get-started {
        min-height: 300px;
    }
    #home-video {
        .col {
            margin-top: 60px;
        }
    }
    #home-info {
        img {
            margin-top: 24px;
        }
    }
}
@media (max-width: 480px) {
    .carousel {
        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    #get-started {
        min-height: 350px;
    }
    #home-video {
        .col {
            margin-top: 30px;
        }
    }
}
